.card {
  height: 280px;
  width: clamp(450px, 100%, 100%);
  box-shadow: 0px 4px 12px 0px #00000026;
  overflow: hidden;

  &__image {
    height: auto;
    display: block;
    width: 273px;
    max-height: 279px;
  }

  &__imageFallback {
    width: clamp(60px, 100%, 313px);
    height: 279px;
    background-image: url('../../../public/imageFallback.webp');
    background-position: center;
    background-color: rgb(4 25 57 / 95%);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 10px;
    padding-left: 20px;
    font-size: 12px;
    width: 100%;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0 !important;
    text-align: left;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__date {
    margin-bottom: 7px;
  }

  &__text {
    text-align: left;
    height: 111px;
    line-height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__rate {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  @media screen and (max-width: 720px) {
    &__content {
      padding: 24px;
    }
  }

  @media screen and (max-width: 560px) {
    &__image {
      max-width: 60px;
      margin: 8px;
    }

    &__image_skelet {
      max-width: 60px;
      height: 91px;
      margin: 8px;
    }

    &__text {
      -webkit-line-clamp: 4;
      height: 89px;
    }
  }

  @media screen and (max-width: 560px) {
    display: block;
    width: clamp(320px, 100%, 100%);

    &__content {
      padding: 16px;
    }

    &__image {
      max-height: 95px;
    }
  }
}
